.main{
    /* display: flex; */
    background-color: #e06666;
    padding: 20px;
    width: 450px;
    height: 420px;
    z-index: -1;
    border: 2px solid black;
    margin: 10px;

}

.subcontents{
    display: flex;
}